/* styles to all pages (for now) */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

/* *{
    padding: 10px;
    margin: 10px;
    font-size:  20px;
    display: box;
    height: 150px;
    width: 750px;
    border: 5px dotted black;
} */
ul{
    display: inline-block;
}
.box-one {
    background-color: rgb(53, 18, 18);
    padding: 20px;
    border: 20px solid lightslategrey;
    margin: 20px;
}

.box-two {
    background-color: blue;
    border: 0 solid green;
}


.bodystyle{
    background-color: rgb(255, 153, 0);
    font-family: 'Times New Roman', Times, serif;
}

.link{
background-color: rgb(2, 51, 63);
color: rgb(149, 96, 199);
}

ol{
    color: crimson;
    font: optional;
}

ul{
    color: red;
}

li{
    color: rgb(48, 34, 34);
}

h1{
    align-content:center;
    color:  rgb(39, 65, 38);
}

strong{
    background-color: rgb(236, 134, 16);
}

em{
    border: 1px dotted rgb(165, 110, 110);
    /* background-color: blueviolet; */
}

#index.title{
    background-color: rgb(2, 51, 63);
    color: rgb(149, 96, 199);
}